nb-accordion-item-header {
    background-color: #343a40 !important;
    color: #fff !important;
}
nb-accordion {
    width: 80%;
    margin: 0 auto;
}
nb-accordion-item-header {
    padding: 0.5rem !important;
}