<nb-card>
    <nb-card-body class="example-items-col">
        <form [formGroup]="form" *ngIf="form">
            <h6>Nombre</h6>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Ingrese el nombre de la variables"
                formControlName="value">
            <h6>Máximo</h6>
            <input type="number" nbInput fullWidth fieldSize="small" placeholder="Máximo" formControlName="max">
            <h6>Mínimo</h6>
            <input type="number" nbInput fullWidth fieldSize="small" placeholder="Mínimo" formControlName="min">
            <h6>Unidad</h6>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Unidad" formControlName="unit">
            <h6>Devolución</h6>
            <textarea nbInput fullWidth placeholder="Devolución" formControlName="reply"></textarea>
            <h6>Color</h6>
            <nb-select placeholder="Color" formControlName="color" fullWidth>
                <nb-option [value]="item.value" *ngFor="let item of colors">{{item.name}}</nb-option>
            </nb-select>
            <h6>Empresa</h6>
            <nb-select placeholder="Empresa" formControlName="id_company" fullWidth>
                <nb-option [value]="item.id" *ngFor="let item of companies | async">
                    {{item.name}}</nb-option>
            </nb-select>

            <nb-checkbox status="primary" formControlName="boolean">Boolean</nb-checkbox>
            <br />
        </form>
        <div class="row" style="margin-top:15px !important;">
            <div class="col">
                <button nbButton status="primary" (click)="save()" [disabled]="!form.valid">Actualizar</button>
                <button nbButton status="primary" (click)="back()" style="margin-left: 10px !important;">Volver</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>